.list {
  justify-content: center;
  max-width: 1500rem;
  margin: 0 auto;
}

.grid {
  padding: 100rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352rem, 1fr));
  gap: 30rem;
}