$main-font: 'Arial', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$main-font-size: 2rem;
$title-font-size: 3rem;

$primary-color: #0de38f;
$primary-color-rgba: rgba(0, 0, 0, 0.68);
$white-color: #FFFFFF;

$primary-bg-color: #1A1A1A;
$secondary-bg-color: #2C2C34;

$main-border-radius: 1rem;

$xl: 1200px;
$xxl: 1400px;
$lg: 992px;
$md: 768px;
$sm: 576px;