.list {
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

.grid {
  padding: 100px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
  gap: 30px;
}